@using System.Security.Claims;
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@foreach (var userClaim in ((ClaimsIdentity)User.Identity).Claims) {
    <p>@userClaim.Type</p>
    <p>@userClaim.Value</p>
}
